@media screen and (max-width: 700px) {
    body {
      background-color: #2eff3f !important;
    }
  }
body {
    overflow-x: hidden;
}

@-moz-document url-prefix(),  {
    body {
        background-color: #2eff3f !important;
    }
}

@supports (animation-timeline: none) {
    body {
        background: none;
    }
}