@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght,BNCE,INFM,SPAC@0,300..800,-100..100,0..100,0..100;1,300..800,-100..100,0..100,0..100&display=swap');

body, :root, div {
    scrollbar-color: #2eff3f #161616;
    font-feature-settings: 'dlig' 1, 'ccmp' on, 'ss02' on, 'ss03' on, 'cv11' on;
}





::selection {
    background-color: black;
    color: #2eff3f;
}

@font-face {
    font-family: "Mona Sans";
    src: 
        url("/Mona-Sans.woff2") format("woff2 supports variations"),
        url("/Mona-Sans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src:   
        url("/jetbrains-mono/JetBrainsMono[wght].ttf") format(woff2 supports variations),
        url("/jetbrains-mono/JetBrainsMono[wght].ttf") format(woff2-variations);
    font-weight: 100 800;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src:   
        url("/jetbrains-mono/JetBrainsMono-Italic[wght].ttf") format(woff2 supports variations),
        url("/jetbrains-mono/JetBrainsMono-Italic[wght].ttf") format(woff2-variations);
    font-weight: 100 800;
    font-style: italic;
}

@font-face {
    font-family: 'InterVariable';
    src: 
        url(/inter/InterVariable.woff2) format("woff2 supports variations"),
        url(/inter/InterVariable.woff2) format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: 'InterVariable';
    src: 
        url(/inter/InterVariable-Italic.woff2) format("woff2 supports variations"),
        url(/inter/InterVariable-Italic.woff2) format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: italic;
}

.cod-lettering {
    @apply text-center mx-auto w-auto justify-self-center md:-my-96 object-center drop-shadow-lg -my-32 z-20 relative h-1/2;
}

:root {
    font-family: InterVariable, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

.mona {
    /* Test to see if Brocolage Grotesque will look better */
    font-family: "Mona Sans", sans-serif;
}

.comic-block {
    background-color: #edf909;
    border: 3pt solid black;
    color: black;
    
    font-variation-settings: "INFM" 100;
    box-shadow: 7.0px 7.5px 0px black;
    font-family: "Shantell Sans", cursive;
    font-style: italic;
    padding: 2.5pt;
    text-transform: uppercase;
} 

.font-cond {
    font-stretch: 75%;
}

@media only screen and (prefers-reduced-motion: no-preference) and (min-width: 640px) {
    .font-stretch-animation {
    animation: font-stretch 5s ease-in-out infinite;
    }
}

code, kbd, .font-mono {
    font-family: 'JetBrains Mono', monospace;
}

@keyframes font-stretch {
    0% {
        font-stretch: 75%;
    }
    50% {
        font-stretch: 125%;
    }
    100% {
        font-stretch: 75%;
    }
}


.animation-delay-100 {
    animation-delay: 0.1s;
}

.animation-delay-200 {
    animation-delay: 0.2s;
}

.animation-delay-300 {
    animation-delay: 0.3s;
}

.animation-delay-400 {
    animation-delay: 0.4s;
}

.animation-delay-500 {
    animation-delay: 0.5s;
}

.animation-delay-600 {
    animation-delay: 0.6s;
}

.animation-delay-700 {
    animation-delay: 0.7s;
}

.animation-delay-800 {
    animation-delay: 0.8s;
}

.animation-delay-900 {
    animation-delay: 0.9s;
}

.animation-delay-1000 {
    animation-delay: 1s;
}
.animation-delay-1100 {
    animation-delay: 1.1s;
}
.animation-delay-1200 {
    animation-delay: 1.2s;
}
.animation-delay-1300 {
    animation-delay: 1.3s;
}
.animation-delay-1400 {
    animation-delay: 1.4s;
}
.animation-delay-1500 {
    animation-delay: 1.5s;
}
.animation-delay-1600 {
    animation-delay: 1.6s;
}

#jj-head {
    animation: head-grow auto linear;
    animation-timeline: --bg-scroll;
    animation-range: 0% 100%;
    background-image: url("/jj-head-graphic.svg");
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;

}



#scroll-timeline {
    scroll-timeline-name: --bg-scroll;
}

@keyframes head-grow {
    0% {
        background-size: 60%;
    }
    25% {
        background-size: 320%;
    }
    100% {
        opacity: 0;
    }
}

.marquee {
    animation: marquee 5s infinite linear;
}

@keyframes marquee {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

.danger {
background-image: linear-gradient(135deg, #eaff00 25%, #171717 25%, #171717 50%, #eaff00 50%, #eaff00 75%, #171717 75%, #171717 100%);
background-size: 56.57px 56.57px;

animation: danger 2.5s infinite linear;
transform: rotate(0.5deg);
}

@media (prefers-reduced-motion) {
    .danger {
        animation: none !important;
    }
}

@keyframes danger {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 56.57px 0;
    }
}

.purple-hero {
    @apply hero w-full min-h-screen bg-[#ff78fa];
}

.purple-hero-content::selection {
    background-color: #000000;
    color: #ff78fa;
}


  
