@tailwind base;
@tailwind components;
@tailwind utilities;

body, :root, div {
    scrollbar-color: #2eff3f #161616;
    font-feature-settings: 'dlig' 1, 'ccmp' on, 'ss02' on, 'ss03' on, 'cv11' on;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Shantell Sans';
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/shantellsans/v9/FeVIS0pCoLIo-lcdY7kjvNoQg2xOyOwqDFg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Shantell Sans';
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/shantellsans/v9/FeVIS0pCoLIo-lcdY7kjvNoQg2xOwewqDFg.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Shantell Sans';
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/shantellsans/v9/FeVIS0pCoLIo-lcdY7kjvNoQg2xOyuwqDFg.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Shantell Sans';
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/shantellsans/v9/FeVIS0pCoLIo-lcdY7kjvNoQg2xOy-wqDFg.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Shantell Sans';
    font-style: italic;
    font-weight: 300 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/shantellsans/v9/FeVIS0pCoLIo-lcdY7kjvNoQg2xOxewq.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/shantellsans/v9/FeVWS0pCoLIo-lcdY7kjvNoQg2R-x_Qu.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/shantellsans/v9/FeVWS0pCoLIo-lcdY7kjvNoQg21-x_Qu.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/shantellsans/v9/FeVWS0pCoLIo-lcdY7kjvNoQg2Z-x_Qu.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/shantellsans/v9/FeVWS0pCoLIo-lcdY7kjvNoQg2d-x_Qu.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Shantell Sans';
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/shantellsans/v9/FeVWS0pCoLIo-lcdY7kjvNoQg2l-xw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }



::selection {
    background-color: black;
    color: #2eff3f;
}

@font-face {
    font-family: "Mona Sans";
    src: 
        url("/Mona-Sans.woff2") format("woff2 supports variations"),
        url("/Mona-Sans.woff2") format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src:   
        url("/jetbrains-mono/JetBrainsMono[wght].ttf") format(woff2 supports variations),
        url("/jetbrains-mono/JetBrainsMono[wght].ttf") format(woff2-variations);
    font-weight: 100 800;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src:   
        url("/jetbrains-mono/JetBrainsMono-Italic[wght].ttf") format(woff2 supports variations),
        url("/jetbrains-mono/JetBrainsMono-Italic[wght].ttf") format(woff2-variations);
    font-weight: 100 800;
    font-style: italic;
}

@font-face {
    font-family: 'InterVariable';
    src: 
        url(/inter/InterVariable.woff2) format("woff2 supports variations"),
        url(/inter/InterVariable.woff2) format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: 'InterVariable';
    src: 
        url(/inter/InterVariable-Italic.woff2) format("woff2 supports variations"),
        url(/inter/InterVariable-Italic.woff2) format("woff2-variations");
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: italic;
}

.cod-lettering {
    @apply text-center mx-auto w-auto justify-self-center md:-my-96 object-center drop-shadow-lg -my-32 z-20 relative h-1/2;
}

:root {
    font-family: InterVariable, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

.mona {
    /* Test to see if Brocolage Grotesque will look better */
    font-family: "Mona Sans", sans-serif;
}

.comic-block {
    background-color: #edf909;
    border: 3pt solid black;
    color: black;
    
    font-variation-settings: "INFM" 100;
    box-shadow: 7.0px 7.5px 0px black;
    font-family: "Shantell Sans", cursive;
    font-style: italic;
    padding: 2.5pt;
    text-transform: uppercase;
} 

.font-cond {
    font-stretch: 75%;
}

@media only screen and (prefers-reduced-motion: no-preference) and (min-width: 640px) {
    .font-stretch-animation {
    animation: font-stretch 5s ease-in-out infinite;
    }
}

code, kbd, .font-mono {
    font-family: 'JetBrains Mono', monospace;
}

@keyframes font-stretch {
    0% {
        font-stretch: 75%;
    }
    50% {
        font-stretch: 125%;
    }
    100% {
        font-stretch: 75%;
    }
}


.animation-delay-100 {
    animation-delay: 0.1s;
}

.animation-delay-200 {
    animation-delay: 0.2s;
}

.animation-delay-300 {
    animation-delay: 0.3s;
}

.animation-delay-400 {
    animation-delay: 0.4s;
}

.animation-delay-500 {
    animation-delay: 0.5s;
}

.animation-delay-600 {
    animation-delay: 0.6s;
}

.animation-delay-700 {
    animation-delay: 0.7s;
}

.animation-delay-800 {
    animation-delay: 0.8s;
}

.animation-delay-900 {
    animation-delay: 0.9s;
}

.animation-delay-1000 {
    animation-delay: 1s;
}
.animation-delay-1100 {
    animation-delay: 1.1s;
}
.animation-delay-1200 {
    animation-delay: 1.2s;
}
.animation-delay-1300 {
    animation-delay: 1.3s;
}
.animation-delay-1400 {
    animation-delay: 1.4s;
}
.animation-delay-1500 {
    animation-delay: 1.5s;
}
.animation-delay-1600 {
    animation-delay: 1.6s;
}

#jj-head {
    animation: head-grow auto linear;
    animation-timeline: --bg-scroll;
    animation-range: 0% 100%;
    background-image: url("/jj-head-graphic.svg");
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;

}



#scroll-timeline {
    scroll-timeline-name: --bg-scroll;
}

@keyframes head-grow {
    0% {
        background-size: 60%;
    }
    25% {
        background-size: 320%;
    }
    100% {
        opacity: 0;
    }
}

.marquee {
    animation: marquee 5s infinite linear;
}

@keyframes marquee {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

.danger {
background-image: linear-gradient(135deg, #eaff00 25%, #171717 25%, #171717 50%, #eaff00 50%, #eaff00 75%, #171717 75%, #171717 100%);
background-size: 56.57px 56.57px;

animation: danger 2.5s infinite linear;
transform: rotate(0.5deg);
}

@media (prefers-reduced-motion) {
    .danger {
        animation: none !important;
    }
}

@keyframes danger {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 56.57px 0;
    }
}

.purple-hero {
    @apply hero w-full min-h-screen bg-[#ff78fa];
}

.purple-hero-content::selection {
    background-color: #000000;
    color: #ff78fa;
}


  
